/*-----------------------------------------------------Index------------------------------------------------------------*/
.homepage {
    background: url(img/hero.jpg);
    background-color: rgba(0, 0, 0, 0.61);
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.quote {
    padding-top: 1.2em;
    padding-bottom: 0.5em;
    font-family:cursive;
    font-size: 6em;
}
.hero-btn{
    background: goldenrod;
}

.hero-btn:hover {
    background: black;
    color:white;
}

footer {
    font-size: 1.25rem;
    background: #00000079;
}
/*----------------------------------------------------/Index------------------------------------------------------------*/

/*-----------------------------------------------------Contact------------------------------------------------------------*/
.contact-template, .message-template {
    padding: 3rem;
}
/*----------------------------------------------------/Contact------------------------------------------------------------*/

/*-----------------------------------------------------LoginForm------------------------------------------------------------*/
.loginform {
    padding: 12rem 24rem;
}
.loginbtn {
    width: 8rem;
}

/*----------------------------------------------------/LoginForm------------------------------------------------------------*/

/*-----------------------------------------------------RegisterForm------------------------------------------------------------*/
.registerform {
    padding: 3rem 24rem;
}
/*----------------------------------------------------/RegisterForm------------------------------------------------------------*/
