/*-----------------------------------------------------Index------------------------------------------------------------*/
.first-tray{
    background: url(img/hero.jpg);
    background-color: rgba(0, 0, 0, 0.61);
    background-position: center;
    background-attachment: fixed;  
    color: #fff;
    font-family:cursive;
}
.quote {
    padding-top: 1.2em;
    padding-bottom: 0.5em;
    font-size: 6em;
}
.btn{
    background: goldenrod;
}

.btn:hover {
    background: black;
    color:white;
}
.titles{
    font-family:cursive;
}
.second-tray{
padding: 2em 0;
}
.third-tray-con{
    line-height:2.8;
    font-size: 18px;
    font-weight: bold;
    color:#fff; 
}
.icons{
color:goldenrod;
}
.third-tray{
    background:url(./img/thirdtray.png);
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    font-family:cursive;
    padding: 4em 0;
}
footer {
    font-size: 1.25rem;
    background: #00000079;
}
/*----------------------------------------------------/Index------------------------------------------------------------*/

/*-----------------------------------------------------Contact------------------------------------------------------------*/
.contact-template, .message-template {
    padding: 3rem;
}
/*----------------------------------------------------/Contact------------------------------------------------------------*/

/*-----------------------------------------------------Login----------------------------------------------------------------*/
.loginform {
    padding: 12rem 24rem;
}
.loginbtn {
    width: 8rem;
}
.error {
    color: red;
}
/*----------------------------------------------------/Login----------------------------------------------------------------*/

/*-----------------------------------------------------Register---------------------------------------------------------------*/
.register {
    padding: 3rem 24rem;
}
/*----------------------------------------------------/Register---------------------------------------------------------------*/
/*----------------------------------------------------------Menu--------------------------------------------------------------*/
.hero-title h2 {
text-align:center;
border:double solid;
}
/*---------------------------------------------------------/Menu--------------------------------------------------------------*/
