/*-----------------------------------------------------Index------------------------------------------------------------*/
.first-tray{
    background: url(img/hero.jpg);
    background-color: rgba(0, 0, 0, 0.61);
    background-position: center;
    background-attachment: fixed;  
    color: #fff;
    font-family:cursive;
}
.quote {
    padding-top: 1.2em;
    padding-bottom: 0.5em;
    font-size: 6em;
}
.btn{
    background: goldenrod;
}

.btn:hover {
    background: black;
    color:white;
}
.titles{
    font-family:cursive;
}
.second-tray{
padding: 2em 0;
}
.third-tray-con{
    line-height:2.8;
    font-size: 18px;
    font-weight: bold;
    color:#fff; 
}
.icons{
color:goldenrod;
}
.third-tray{
    background:url(./img/thirdtray.png);
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    font-family:cursive;
    padding: 4em 0;
}
footer {
    font-size: 1.25rem;
    background: #00000079;
}
/*----------------------------------------------------/Index------------------------------------------------------------*/

/*-----------------------------------------------------Contact------------------------------------------------------------*/
.contact-template, .message-template {
    padding: 3rem;
}
/*----------------------------------------------------/Contact------------------------------------------------------------*/

/*-----------------------------------------------------Login----------------------------------------------------------------*/
.loginform {
    padding: 12rem 24rem;
}
.loginbtn {
    width: 8rem;
}
.error {
    color: red;
}
/*----------------------------------------------------/Login----------------------------------------------------------------*/

/*-----------------------------------------------------Register---------------------------------------------------------------*/
.register {
    padding: 3rem 24rem;
}
/*----------------------------------------------------/Register---------------------------------------------------------------*/
/*----------------------------------------------------------Menu--------------------------------------------------------------*/
.hero-title h2 {
text-align:center;
border:double solid;
}
/*---------------------------------------------------------/Menu--------------------------------------------------------------*/
.menu{
    background:url(./img/hero.jpg);
    background-attachment: fixed;
    font-family:cursive;
    padding: 4.3em 0;
    color:#fff;
}
.menu-heading{
    padding-top:0.8em;
}
.menu-nev-a{
    color:darkgoldenrod;
    transition: 0.5s;
    text-decoration: none !important;
    font-weight: bold;
    padding-top:3em; 
}
.menu-nev-a:hover{
    color:rgb(197, 144, 9);
    transition: 0.5s;
    border-bottom:3px solid rgb(209, 152, 8);
}
.menu-dish li{
    list-style: none;
    display: inline-block;
    border:2px solid black;
    margin-top: 10px;
}
.menu-font{
    font-family: cursive;
}
.dish-head{
    background: #000000c2;
    color:white;
 transition: all .2s ease-in-out;
 }
.dish-head:hover { transform: scale(1.1);
    background: goldenrod;
}
hr{
border-top:10px solid grey;
height:8px;
}

/*---------------------------------------------------------/Menu--------------------------------------------------------------*/
/* contact */
.CONTECT{
    background:url(./img/contect-hero.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    font-family:cursive;
    padding: 4.3em 0;
    color:#fff;
}
.con-icon{
    color:rgba(235, 94, 117, 0.801);
}
/* /contact */